/*-- scss:functions --*/
  
/*-- scss:defaults --*/
$primary:  #06436e !default; 
/* -- $body-color: #495057 !default; --*/
$body-color: #303437 !default;  

$footer-bg: #06436e !default;

$font-family-mono: 'Liberation Mono', 'Source Code Pro', 'Droid Sans Mono', 'GNU Free Font', 'Courier', 'Computer Modern Typewriter';

/*-- scss:rules --*/
